.wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: rgb(28 28 33 / 100%);
  border-radius: 40px;
  box-shadow:
    0 0 1px 0 rgb(0 0 0 / 4%),
    0 0 2px 0 rgb(0 0 0 / 6%),
    0 4px 8px 0 rgb(0 0 0 / 4%);
  cursor: pointer;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredient_img {
  position: relative;
  z-index: 1;
  width: 64px;
  height: 64px;
  margin-left: -16px;
  overflow: hidden;
  border-radius: 50%;
}

.ingredient_img::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0.13turn,
    rgb(128 26 179 / 100%),
    rgb(76 76 255 / 100%)
  );
  content: '';
}

.ingredient_img::after {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 60px;
  height: 60px;
  background: var(--background-alt);
  border-radius: 50%;
  content: '';
}

.overlay {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: rgb(0 0 0 / 60%);
  border-radius: 50%;
}

.img {
  position: relative;
  top: 2px;
  left: 2px;
  z-index: 1;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}
