.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.burder_constructor_wrap {
  display: flex;
  flex-direction: column;
  height: calc(100% - 120px);
}

.burger_constructor_scroll {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
}

.burger_constructor_footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.burger_constructor_total {
  display: flex;
  align-items: center;
  gap: 8px;
}

.burger_constructor_currency {
  width: 33px;
}
