.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 536px;
  min-height: 80px;
  padding: 16px 24px;
  background: var(--background-element);
  border-radius: var(--common-border-radius-s);
}

.top {
  border-radius: var(--top-constructor-item-border-radius);
}

.bottom {
  border-radius: var(--bottom-constructor-item-border-radius);
}
