.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 520px;
  height: 100%;
  margin: 0 auto;
}

.ingredient_properties {
  display: flex;
  justify-content: space-between;
}

.nutritional_value {
  width: 100%;
  max-width: 120px;
  text-align: center;
}
