body {
  margin: 0;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
  .custom-scroll {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }

  body {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }
}

.text-center {
  text-align: center;
}

.backlighted {
  text-shadow:
    0 0 20px rgb(51 51 255 / 25%),
    0 0 30px rgb(51 51 255 / 25%),
    0 0 40px rgb(51 51 255 / 25%);
}

.text-blue {
  color: rgb(0 204 204 / 100%);
}
